page-start {

#Logo{
    width: 60%;
    margin-right: 20% ;
    margin-bottom: 12%;
    margin-top: 12%;
}

.infoButton{
    height: 50px;
    margin-bottom: 7%;
    border-radius: 5px;
}

button ion-icon{
    font-size: 2.2rem;
}
}
