page-start {
.infoLogo{
    width: 50%;
margin-right: 25% ;
margin-bottom: 12%;
}
.infoBotton{
    height: 50px;
    width: 315;
    margin-bottom: 7%;

}
#logi{
    animation-delay: 0s;
    -moz-animation-delay: 0s;
    -webkit-animation-delay: 0s;
}
#register{
    animation-delay: 0.2s;
    -moz-animation-delay:0.2s;
    -webkit-animation-delay:0.2s;
}
#about{

  animation-delay:0.4s;
    -moz-animation-delay:0.4s;
    -webkit-animation-delay: 0.4s;
}
}
