page-start {
    
#Logo{
    width: 100%;
    margin-right: 5% ;
    margin-left: 5% ;
    margin-bottom: 20%;
    margin-top: 12%;

}

.infoButton{
    height: 50px;
    margin-bottom: 7%;
    border-radius: 5px;
}

button ion-icon{
    font-size: 2.2rem;
}
}
