page-about {
    .swiper-container{
        height: initial;
    }
    .toolbar-title-ios, .toolbar-title-md {
        color: #339999;
    }
    ion-navbar.toolbar {
        background-color: #339999;
    }
    .navIonButton{height: 34px; box-shadow: 0 0px 0px 0 #339999; }
    h1{
        font-weight: bolder;
        font-size: 200%;
        padding: 25px 25px 25px 25px;
        text-align: center;
        color: white;
    }
    .div1{
        height: 12%;
        background-color: #339999;
    }
    ion-header{
        background-color: #339999;
    }
    .segment-md-primary .segment-button.activated, .segment-md-primary .segment-button.segment-activated {
        border-color: white;
        color: white;
        opacity: 1;
        background-color: #339999;
        font-size: 130%;
        font-weight: bolder;
    }
    .segment-ios-primary .segment-button.activated, .segment-ios-primary .segment-button.segment-activated {
        border-bottom-color : white;
        color: white;
        opacity: 1;
        background-color: #339999;
        font-size: 130%;
        font-weight: bolder;
    }
    .segment-wp-primary .segment-button.activated, .segment-wp-primary .segment-button.segment-activated {
        border-bottom-color: white;
        color: white;
        opacity: 1;
        background-color: #339999;
        font-size: 130%;
        font-weight: bolder;
    }
    ion-segment{
        background-color: #339999;
    }
    .segment-md-primary .segment-button {
        color: white;
        font-size: 110%;
        font-weight: bolder;
    }
    .segment-ios-primary .segment-button {
        color: white;
        font-size: 110%;
        font-weight: bolder;
    }
    .segment-wp-primary .segment-button {
        color: white;
        font-size: 110%;
        font-weight: bolder;
    }

    .maindiv{
        background-color: cornflowerblue;
        margin: 5px;
        height: 100%;
        width: 100%;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 40%;
        float: right;
        padding: 5px 5px 5px 5px;
        margin: 0 7% auto;
        text-align: center;
    }
    
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .card:active{
        -moz-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    .card1 {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 40%;
        float: right;
        padding: 5px 5px 5px 5px;
        margin: 0 auto;
        text-align: center;

    }
    .card1:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .card1:active{
        -moz-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    .card2 {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 40%;
        float: right;
        padding: 10px 5px 5px 10px;
        margin: 10px 7% auto;
        text-align: center;
    }
    
   
    .card2:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .card2:active{
        -moz-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    .card3 {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 40%;
        float: right;
        padding: 10px 5px 5px 10px;
        margin: 10px  auto;
        text-align: center;
    }
    
   
    .card3:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .card3:active{
        -moz-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
        margin: 0 auto;
        text-align: center;
        // align-content: center;
    }
    .imgprop{
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }

    .ac{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin: 5%  10% 5% 10%;
      padding: 10px  10px 10px 10px;
      text-align: justify;
      text-justify: inter-word;
      line-height: 1.2;
      border-radius: 5px;
    }
    .cfil{
        width: 128px;
        height:128px ;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    p{
        font-size: 100%;
    }
    .mpl{
        width: 35%;
        height:35% ;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
    }
    .ed{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 5%  10% 5% 10%;
        padding: 10px  10px 10px 10px;
        text-align: justify;
        text-justify: inter-word;
        line-height: 1.2;
        border-radius: 5px;
    }
    .p1{
        font-size: 100%;
    }
    ul,li,ol{
        font-size: 100%; 
    }
    h6{
        font-size: 90%
    }
    a:active { 
        color:blue;
        font-weight: bolder;
    }
    .div2{
        margin-top: 10px;
        height: -moz-calc(100% - 50px);
        height: -webkit-calc(100% - 50px);
        height: -o-calc(100% - 50px);
        height: calc(100% - 50px);
    }
    .toolbar-ios-primary .segment-ios .segment-button.segment-activated {
        color: white;
    }
}