page-about {
  .swiper-container {
    height: initial;
  }

  .toolbar-title-ios,
  .toolbar-title-md {
    color: #339999;
  }

  ion-navbar.toolbar {
    background-color: #339999;
  }

  .navIonButton {
    height: 34px;
    box-shadow: 0 0px 0px 0 #339999;
  }

  h1 {
    font-weight: bolder;
    font-size: 200%;
    padding: 25px 25px 25px 25px;
    text-align: center;
    color: white;
  }

  .div1 {
    height: 12%;
    background-color: #339999;
  }

  ion-header {
    background-color: #339999;
  }

  .segment-md-primary .segment-button.activated,
  .segment-md-primary .segment-button.segment-activated {
    border-color: white;
    color: white;
    opacity: 1;
    background-color: #339999;
    font-size: 130%;
    font-weight: bolder;
  }

  .segment-ios-primary .segment-button.activated,
  .segment-ios-primary .segment-button.segment-activated {
    border-bottom-color: white;
    color: white;
    opacity: 1;
    background-color: #339999;
    font-size: 130%;
    font-weight: bolder;
  }

  .segment-wp-primary .segment-button.activated,
  .segment-wp-primary .segment-button.segment-activated {
    border-bottom-color: white;
    color: white;
    opacity: 1;
    background-color: #339999;
    font-size: 130%;
    font-weight: bolder;
  }

  ion-segment {
    background-color: #339999;
  }

  .segment-md-primary .segment-button {
    color: white;
    font-size: 110%;
    font-weight: bolder;
  }

  .segment-ios-primary .segment-button {
    color: white;
    font-size: 110%;
    font-weight: bolder;
  }

  .segment-wp-primary .segment-button {
    color: white;
    font-size: 110%;
    font-weight: bolder;
  }

  .maindiv {
    background-color: cornflowerblue;
    margin: 5px;
    height: 100%;
    width: 100%;
  }

  .ac {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5% 10% 5% 10%;
    padding: 10px 10px 10px 10px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.2;
    border-radius: 5px;
  }

  .cfil {
    width: 130px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    font-size: 100%;
  }




  .p1 {
    font-size: 100%;
  }

  ul,
  li,
  ol {
    font-size: 100%;
  }

  a:active {
    color: blue;
    font-weight: bolder;
  }

  .toolbar-ios-primary .segment-ios .segment-button.segment-activated {
    color: white;
  }

  #scrollable {
    overflow: auto;
    padding: 5px;
    height: 52vh;
  }

  #theIdea {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5% 10% 5% 10%;
    padding: 10px 10px 10px 10px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.2;
    border-radius: 5px;
    height: 55vh;
  }

  .div2 {
    margin-top: 10px;
    margin-bottom: 10px;
    height: -moz-calc(100vh - 50px);
    height: -webkit-calc(100vh - 50px);
    height: -o-calc(100vh - 50px);
    height: calc(100vh - 50px);
  }

  #myPhaLogo {
    width: 20vh;
    height: 20vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }

  .myPhoto {
    width: 75%;
    height: 75%;
    border-radius: 50%;
    margin-right: 12%;
    margin-top: 5%;
  }

}
