page-login {



    #moreDetails{
        display: none;
        margin-top: 30px;
    }

    .btnMargin{
        margin-bottom: 20px;
    }

    .myBtn{
        height: 50px;
        font-weight: bold;
    }

    .backBtn{position: absolute; top: 10px; left: 10px; font-size: 3.2rem; padding: 10px; color: black;}

    ion-icon{font-size: 2.2rem;}

    h1{
        text-align: center;
        font-weight: bold;
        color:#339999;
    }

    .transparentWhite{
        background-color: #ffffffd4;
        margin-bottom: 10px;
    }

    ::-webkit-input-placeholder {text-align: center;}
    ::placeholder{text-align: center;}


    #login{
        margin-top: 15px;
        margin-bottom: 10px;
    }
    #facebookLogin{
        background-color: #3C5A99;
      
     
        
    }

    #googleLogin{
        background-color: #DB4437;
    }
    
.gog{
    padding-top: 15px;
    position: absolute;
    right: 20px;
    border-left: 1.5px solid white;
    padding-left:15px;
    height: 50px;
}
.mg{
    position: relative;
    
    left:620px;
    padding-bottom: 15px;
    padding-top: 15px;
    position: absolute;
    right: 20px;
    border-left: 1.5px solid white;
    padding-left:15px;
    height: 50px;
    
}


}
