
<!-- لا يوجد ناف بار في صفحة انشاء حساب يوجد فقط هيدر كبير فيه اسم الصفحة -->


<ion-content padding>


  <ion-icon (click)="goBack()" class="backBtn" name="ios-arrow-forward"></ion-icon>
  <h1 style="color: black; padding: 5px; font-weight: bold; margin-bottom: 12px; font-size: 20pt;">انشاء حساب</h1>

<div>
  <div id="segmentCont">
      <h1 style="width: 100%; text-align: center; font-size: 16pt; color: #339999;">الرجاء تحديد نوع المستخدم:</h1>
      <button ion-button block id="user" class="segmentBtn activeSegment" (click)="segment('user')" style="right: 5%;">مستخدم</button>
      <button ion-button block id="pharmacy" class="segmentBtn" (click)="segment('pharmacy')" style="left: 5%;">صيدلية</button>
  </div>

  <form [formGroup]="myForm">

    <ion-item class="transparentWhite" >
        <ion-icon item-left name="md-person"></ion-icon>
        <ion-input [(ngModel)]="userInfoData.name" placeholder="اسم المستخدم" [formControl]="myForm.controls['name']"></ion-input>
    </ion-item>
    <ion-item no-lines class="no-line error" *ngIf="!myForm.controls.name.valid  && myForm.controls.name.dirty && !myForm.controls.name.pending">
      <p *ngIf="myForm.value.name != ''" class="p"> يجب ان يكون طول الاسم 3-20 حرف ولا يحتوي على رموز</p>
      <p *ngIf="myForm.value.name == ''" class="p">يرجى ادخال الاسم</p>
    </ion-item>


    <ion-item class="transparentWhite" id="email" >
        <ion-icon item-left name="md-at"></ion-icon>
        <ion-input [(ngModel)]="userAuthData.email" placeholder="البريد الالكتروني" [formControl]="myForm.controls['email']"></ion-input>
    </ion-item>
    <ion-item no-lines  *ngIf="!myForm.controls.email.valid  && myForm.controls.email.dirty && !myForm.controls.email.pending">
      <p *ngIf="myForm.value.email != ''" class="p">الايميل غير صالح</p>
      <p *ngIf="myForm.value.email == ''" class="p" >يرجى ادخال الايميل</p>
    </ion-item>



    <ion-item class="transparentWhite" id="password">
        <ion-icon item-left name="md-lock"></ion-icon>
        <ion-input [(ngModel)]="userAuthData.password" placeholder="كلمة المرور" [formControl]="myForm.controls['password']" type='password'></ion-input>
    </ion-item>
    <ion-item no-lines *ngIf="!myForm.controls.password.valid  && myForm.controls.password.dirty && !myForm.controls.password.pending">
      <p *ngIf="myForm.value.password != ''" class="p">كلمة المرور غير صالحة</p>
      <p *ngIf="myForm.value.password == ''" class="p">يرجى ادخال كلمة المرور</p>
    </ion-item>


    <ion-item class="selectAlert" id="province">
      <ion-label style="color: #339999;" >المحافظة  :</ion-label>
      <ion-select [(ngModel)]="userInfoData.province" [formControl]="myForm.controls['province']" >

        <ion-option value="القادسية ">القادسية</ion-option>
        
      </ion-select>
    </ion-item>

    <ion-item class="selectAlert" id="zone">
      <ion-label style="color: #339999;"> المنطقة :</ion-label>
      <ion-select [(ngModel)]="userInfoData.zone" [formControl]="myForm.controls['zone']" >
        <ion-option value="الحضارة">الحضارة</ion-option>
        <ion-option value="الفرات">الفرات</ion-option>
        <ion-option value="الحكيم">الحكيم</ion-option>
        <ion-option value="الاساتذة">الاساتذة</ion-option>
        <ion-option value="الجامعة">الجامعة</ion-option>
        <ion-option value="التراث">التراث</ion-option>
        <ion-option value="المعلمين">المعلمين</ion-option>
        <ion-option value="الحي الصناعي">الحي الصناعي</ion-option>
        <ion-option value="الجزائر">الجزائر</ion-option>
        <ion-option value="حي رمضان">رمضان</ion-option>
        <ion-option value="الخضراء">الخضراء</ion-option>
        <ion-option value="الكرار">الكرار</ion-option>
         <ion-option value="التقية">التقية</ion-option>
         <ion-option value="صوب الشامية">صوب الشامية</ion-option>
         <ion-option value="العروبة">العروبة الاولى</ion-option>
         <ion-option value="العروبة الثانية">العروبة الثانية</ion-option>
         <ion-option value="العروبة الثالثة">العروبةالثالثة</ion-option>
         <ion-option value="الضباط">الضباط</ion-option>
         <ion-option value="الصدر الاولى">الصدر الاولى</ion-option>
         <ion-option value="الصدر الثانية">الصدر الثانية</ion-option>
         <ion-option value="الصدر الثالثة">الصدر الثالثة</ion-option>
         <ion-option value="السلام">السلام</ion-option>
         <ion-option value="العدالة">العدالة</ion-option>
         <ion-option value="الجمعية">الجمعية</ion-option>
         <ion-option value="المتقاعدين">المتقاعدين</ion-option>
         <ion-option value="السراي">السراي</ion-option>
         <ion-option value="الجديدة">الجديدة</ion-option>
         <ion-option value="حي الموظفين">الموظفين</ion-option>
         <ion-option value="الوحدة">الوحدة</ion-option>
         <ion-option value="حي العذارية"> العذارية</ion-option>
         <ion-option value="الكرامة">الكرامة</ion-option>
         <ion-option value="الاسكان">الاسكان</ion-option>
         <ion-option value="النسيج">النسيج</ion-option>
         <ion-option value="حي الغدير">الغدير</ion-option>
         <ion-option value="الصادق الاول">الصادق الاول</ion-option>
         <ion-option value="الصادق الثاني">الصادق الثاني</ion-option>
         <ion-option value="الفاضلية">الفاضلية</ion-option>
         <ion-option value="التضامن">التضامن</ion-option>
         <ion-option value="النهضة">النهضة</ion-option>
         <ion-option value="حي الزهراء">الزهراء</ion-option>
         <ion-option value="حي الثقلين">الثقلين</ion-option>
         <ion-option value="حي الوفاء">الوفاء</ion-option>
         <ion-option value="حي الحكيم">الحكيم</ion-option>
        <ion-option value="الجنوب">الجنوب</ion-option>
        <ion-option value="الشرطة">الشرطة</ion-option>
        <ion-option value="العراق">العراق</ion-option>
        <ion-option value="الانصار">الانصار</ion-option>
        <ion-option value="الامير">الامير</ion-option>
        <ion-option value="الزعيم">الزعيم</ion-option>
        <ion-option value="العصري">العصري</ion-option>
        <ion-option value="الابرار">الابرار</ion-option>
        <ion-option value="الفجر الجديد">الفجر الجديد</ion-option>
        <ion-option value="الاستقامة">الاستقامة</ion-option>
        <ion-option value="الجمهوري الغربي">الجمهوري الغربي</ion-option>
        <ion-option value="الجمهوري الشرقي">الجمهوري الشرقي</ion-option>
        <ion-option value="الزراعيين">الزراعيين</ion-option>
        <ion-option value="الحوراء">الحوراء</ion-option>
        <ion-option value="الثقافي">الثقافي</ion-option>
        

      </ion-select>
    </ion-item>

  </form>

  <div id="camera">
    <ion-label class="b" style="padding-top: 15px;">التقاط صورة لترخيص وزارة الصحة </ion-label>
    <ion-icon id="theIcon" (click)='openCamera()' ios="ios-camera" md="md-camera" ></ion-icon>
    <ion-label class="b" style="color: #800000">سيتم اغلاق حسابك اذا كان الترخيص مزيف </ion-label>
    <img src="{{currentImg}}">
  </div>

  <form [formGroup]="myForm">
    <button ion-button block (click)="onRegister()" [disabled]="!myForm.valid" class="myBtn" id="register">
    <ion-icon name="ios-create-outline"></ion-icon>&nbsp; &nbsp; انشاء حساب</button>
  </form>
</div>
</ion-content>
