page-register {
    h1{
        text-align: center;
        font-weight: bold;
        color:#339999;
       }

    .b{
        color:black;;
        text-align: center;
        font-size: 14px;
        margin: 0px;
        font-weight: bold;
    }

    #ii{
        text-align: center;
        color:#339999;
    }

    .p{
        color: rgb(202, 11, 11);
        font-size: 10px;
    }

    .segmentBtn{
        margin-top: 105px;
        position: absolute;
        top: 0px;
        width: 45%; height: 6.3%;
        color: #6e6e6e;
        background-color: #e9e9e9;
        font-size: 4.7vw;
    }

    .activeSegment{
        color: white;
        background-color: #339999;
        font-weight: bold;
    }

    #segmentCont{
        width: 100%; height: 90px;
    }

    .backBtn{position: absolute; top: 10px; left: 10px; font-size: 3.2rem; padding: 10px; color: black;}

    ion-icon{font-size: 2.2rem;}

    #theIcon{
        font-size: 6.2rem;
        margin-right: calc(50% - 3.1rem);
    }

    .transparentWhite{
        background-color: #ffffffd4;
        margin-bottom: 10px;
    }

    ::-webkit-input-placeholder {text-align: center;}
    ::placeholder{text-align: center;}

    #camera{
        display: none;
        background-color: #ffffff;
        margin-bottom: 10px;
    }

    .myBtn{
        height: 50px;
        font-weight: bold;
    }

    .selectAlert{
        margin-bottom: 10px;
        background-color: #ffffffd4;
    }

    .ng-touched {
        text-align: center;
        color: black;
        width: 100%;
        padding-right: -129px;
        font-weight: bold;
    }
}
