page-register {
    h1{
        text-align: center;
        font-weight: bold;
        color:#339999;
       }
    .b{
        color:#339999;
        text-align: center;
        font-size: 14px;
    }
    #ii{
        text-align: center;
        color:#339999;
    }
}
