
<ion-header style="margin-top: -1px;">
  <!-- =============================== Nav Bar Header ============================== -->
  <div style="height: 40px; background-color: #339999;">
    <ion-icon (click)="goBack()" class="navBarCloseIcon" name='close'></ion-icon>
    <hr style="height: 1px; background-color: #f2f2f2;">
  </div>
  <!-- =============================== Nav Bar Header ============================== -->
</ion-header>


<ion-content style="margin-top: -2px; text-align: center;">

  <div id="headerDiv">
    <img src="../../assets/imgs/user.png">
    <h1>{{postData.name}}</h1>
  </div>

  <div padding>
    <h2>السؤال</h2>
    <textarea class="medicineInput" disabled [(ngModel)]="postData.postBody"></textarea>
  </div>

  <div id="cameraContainer">
    <h2>المرفقات</h2>
    <img src="{{postData.postImg}}" style="height: 200px;;">
  </div>

  <div id="repliesTitleDiv">
    <h2 *ngIf="isCommentAvailable">عدد الردود: {{postData.comments.length -1}}</h2>
    <h2 *ngIf="!isCommentAvailable">عدد الردود: 0</h2>
  </div>

  <div id="replies" >
    <div *ngIf="!isUser" padding>
      <h3>اضافة رد</h3>
      <input type="number" class="Input" placeholder="السعر" [(ngModel)]="replyData.price">
      <textarea placeholder="التفاصيل" [(ngModel)]="replyData.details"></textarea>
      <button ion-button block (click)="onComment()">موافق</button>
    </div>
  </div>

    <ion-list *ngIf="isUser">
      <div *ngIf="isCommentAvailable">
        <ion-item (click)="openProfile(comment['pharmacyKey'])" id="ionItem" *ngFor="let comment of postComments.slice().reverse()"> <!-- ===== ion-item ===== -->
          <!-- <h3>السعر: {{comment['price']}}</h3>
          <h3>التفاصيل: {{comment['details']}}</h3> -->
          <ion-avatar style="width: 50px; position: absolute; right: 8px; top: 10px;">
            <img src="../../assets/imgs/pharmacy1.png" style="width: 50px; height: 50px;"> <!-- ===== The status Picture of post ===== -->
          </ion-avatar>
          <div class="p-textDiv"> <!-- ===== The div which contain all the texts ===== -->
            <div> <!-- ===== the div which contain all the texts ===== -->
              <h2 class="postHeaderTitle">{{comment['pharmacyName']}}</h2> <!-- ===== The status of post ===== -->
              <p class="postDate">{{comment['date']}}</p> <!-- ===== The date of post ===== -->
            </div>
            <h2 class="postTitle" text-wrap>{{comment['details']}}</h2> <!-- ===== The title of post ===== -->
          </div>
          <div class="previewQuesBtn">
            <div>
              <h2>السعر</h2>
              <h2><span>{{comment['price']}}</span></h2>
            </div>
          </div>
        </ion-item>
      </div>
      <div *ngIf="!isCommentAvailable" id="sorryMsg" padding>
          <h2>لا توجد ردود متوفرة لهذا المنشور حتى الآن</h2>
        <img src="../../assets/imgs/noSearchResults.png">
      </div>
    </ion-list>

</ion-content>