
<!-- ==================<userProfile>=================== -->
    <ion-content *ngIf="isUser">

        <!-- ====== <Nav Bar Component> ================= -->
             <!-- ===--> <nav-bar></nav-bar>  <!-- ===-->
        <!-- ======</ Nav Bar Component> ================= -->

        <!-- ===============<userImage&userName>================== -->      
        <div class="prof">
            <img class="userimg" src="assets/imgs/user.png"/>          
            <h2>{{userData[1].name}}</h2>
          </div>
        <!-- ==================</userImage&userName>=============== -->
        <!-- =================<segmentsPart>======================= -->
            <ion-segment [(ngModel)]="pet">
              <ion-segment-button  value="deatils">
                التفاصيل
               </ion-segment-button>
               <ion-segment-button value="Qesition" (click)="loadMyPosts()">
                    الأسئلة
               </ion-segment-button>
              </ion-segment>
        <!-- ==================</segmentsPart>==================== -->
        <!-- ==================<contentDetails>=================== -->
        <div padding  [ngSwitch]="pet">
            <ion-list   *ngSwitchCase="'deatils'">
                <ion-grid>
                    <ion-row class="infoDiv">
                        <ion-col>
                            <h4 class="infoTitle" >المحافظة:</h4>
                          </ion-col>
                        <ion-col>
                            <h4 class="infoText">{{userData[1].province}}</h4>
                          </ion-col>
                      </ion-row>
                    <ion-row class="infoDiv">
                        <ion-col>
                            <h4 class="infoTitle" >المنطقة:</h4>
                          </ion-col>
                        <ion-col>
                            <h4 class="infoText"  >{{userData[1].zone}}</h4>
                          </ion-col>
                      </ion-row>
                    <ion-row class="infoDiv">
                        <ion-col>
                            <h4 class="infoTitle" >البريد الالكتروني:</h4>
                          </ion-col>
                        <ion-col>
                            <h4 class="infoText" >{{userData[0].email}}</h4>
                          </ion-col>
                      </ion-row>
                    <ion-row class="infoDiv">
                        <ion-col>
                            <h4 class="infoTitle">كلمة المرور:</h4>
                          </ion-col>
                        <ion-col>
                            <h4 class="infoText" >{{userData[0].password}}</h4>
                          </ion-col>
                      </ion-row>
                  </ion-grid>
                  <button ion-button full (click)="editPro()" color="primary"  ><ion-icon name="create"></ion-icon>&nbsp; &nbsp;تعديل</button>             
              </ion-list>
          </div>
        <!-- ==================</contentDetails>==================== -->
        <!-- ==================<contentQuestions>=================== -->
        <div [ngSwitch]="pet">
            <ion-list *ngSwitchCase="'Qesition'" >
                <ion-list id="qesitionList">
                    <ion-item-sliding *ngFor="let item of myObject.slice().reverse()">
                        <ion-item id="ionItem" (click)="goPreviewQues(item)"> <!-- ===== ion-item ===== -->
                            <div style="position: absolute; right: 8px; top: 10px;">
                                <img src="../../assets/imgs/answered.png" *ngIf="item[1]['comments'].length > 1" style="width: 45px; height: 45px;"> <!-- ===== The status Picture of post ===== -->
                                <img src="../../assets/imgs/notAnsweredYet.png" *ngIf="item[1]['comments'].length < 2" style="width: 45px; height: 45px;"> <!-- ===== The status Picture of post ===== -->
                                <p class="replyNo">{{item[1]['comments'].length -1}}</p> <!-- ===== The number of the replies of hte post ===== -->
                              </div>
                            <div class="textDiv"> <!-- ===== The div which contain all the texts ===== -->
                                <div> <!-- ===== the div which contain all the texts ===== -->
                                    <h2 class="postHeaderTitle" *ngIf="item[1]['comments'].length > 1">تمت الاجابة</h2> <!-- ===== The status of post ===== -->
                                    <h2 class="postHeaderTitle" *ngIf="item[1]['comments'].length > 2">لم تتم الاجابة بعد</h2> <!-- ===== The status of post ===== -->
                                    <p class="postDate">{{item[1]['postDate']}}</p> <!-- ===== The date of post ===== -->
                                  </div>
                                <h2 class="postTitle">{{item[1]['postBody']}}</h2> <!-- ===== The title of post ===== -->
                            </div>
                        </ion-item>
                        <ion-item-options side="right"> <!-- ===== The Delete button on the right side ===== -->
                            <button ion-button color="danger" (click)="onDelete(item[0])" class="slideButton"><ion-icon name="md-trash"></ion-icon>حذف</button>
                          </ion-item-options>
                        <ion-item-options side="left"> <!-- ===== The Edit button on the left side ===== -->
                            <button ion-button color="primary" (click)="onEdit(item)" class="slideButton"><ion-icon name="md-create"></ion-icon>تعديل</button>
                        </ion-item-options>
                    </ion-item-sliding>
                </ion-list>
              </ion-list>
         </div>
        <!-- ===============</contentQuestions>================== -->
    </ion-content>
    <!-- ==================</userProfile>=================== -->
    
    <!-- =================<pharmacyProfile>================= -->
    <ion-content *ngIf="!isUser">
        <!-- ============<Nav Bar Component>============== -->
            <!-- ====--> <nav-bar></nav-bar>  <!-- =====-->
        <!-- ======</ Nav Bar Component> ================= -->
    
        <!-- ==============<pharmacyImage&pharmacyName>============ -->           
        <div class="prof">
            <ion-icon *ngIf="visitProfile" class="backButton" (click)="goBack()" style="position: absolute; top: 50px; right: 16px; " name='md-arrow-back'></ion-icon>
            <img class="userimg" src="assets/imgs/pharmacy.png"/>          
            <h2>{{userData[1].name}}</h2>
          </div> 
        <!-- ============</pharmacyImage&pharmacyName>============= -->  
        <!-- =================<segmentsPart>======================= -->       
            <ion-segment [(ngModel)]="pet">
                <ion-segment-button  value="deatils">
                    التفاصيل
                  </ion-segment-button>
              </ion-segment>
        <!-- =================</segmentsPart>====================== -->
        <!-- ==============<pharmacyContentDetails>================ -->
        <div padding  [ngSwitch]="pet">
            <ion-list   *ngSwitchCase="'deatils'">
                <ion-grid>


                    <ion-row class="infoDiv" >
                        <ion-col>
                            <h4 class="infoTitle">المحافظة:</h4>
                        </ion-col>

                        <ion-col>
                            <h4 class="infoText" >{{userData[1].province}}</h4>
                          </ion-col>
                    </ion-row>


                    <ion-row class="infoDiv" >
                        <ion-col>
                            <h4 class="infoTitle">المنطقة:</h4>
                        </ion-col>

                        <ion-col>
                            <h4 class="infoText" >{{userData[1].zone}}</h4>
                        </ion-col>
                    </ion-row>


                    <ion-row class="infoDiv" >
                        <ion-col>
                            <h4 class="infoTitle">العنوان:</h4>
                        </ion-col>

                        <ion-col>
                            <h4 class="infoText" text-wrap>{{userData[1].pharmacyAdress}}</h4>              
                        </ion-col>
                    </ion-row>

                    <ion-row class="infoDiv" *ngIf="!visitShow" >
                        <ion-col>
                            <h4 class="infoTitle">البريد الالكتروني:</h4>
                        </ion-col>

                        <ion-col>
                            <h4 class="infoText" >{{userData[0].email}}</h4>
                        </ion-col>
                    </ion-row>


                    <ion-row class="infoDiv" *ngIf="!visitShow" id="pass">
                        <ion-col>
                            <h4 class="infoTitle">كلمة المرور:</h4>
                        </ion-col>

                        <ion-col>
                            <h4 class="infoText" >{{userData[0].password}}</h4>
                          </ion-col>
                    </ion-row>                     
                  </ion-grid>
                    <button id="edit" *ngIf="!visitShow" ion-button full (click)="editProfile()" color="primary"><ion-icon name="create"></ion-icon>&nbsp; &nbsp;تعديل</button>                                   
              </ion-list>
          </div>
        <!-- ==============</pharmacyContentDetails>================ -->
    </ion-content>
    <!-- =================<pharmacyProfile>================= -->
    