page-contact {

    .navIonButton{height: 34px; box-shadow: 0 0px 0px 0 rgba(255, 255, 255, 0.14); }
    .div1{
        height: 30%;
         background-color: #339999;
    }
    h1{
        font-weight: bolder;
        font-size: 200%;
        padding: 25px 25px 25px 25px;
        text-align: center;
        color: white;
    }

    .container {
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 20px;
        margin: 15px 15px 15px 15px;
    }
    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
        font-size: 120%;
        font-weight: bolder;
    }
    input[type=text], textarea {
        width: 100%;
        padding: 12px;
        border: 2px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        font-size: 110%;
    }
    * {
        box-sizing: border-box;
    }
    .button-inner{
        font-size: 120%;
        font-weight: bold;
    }

}
