

<ion-header>
    <!-- ====== Nav Bar Component ================= -->
    <!-- ==--> <nav-bar></nav-bar>  <!-- ===========-->
    <!-- ====== Nav Bar Component ================= -->
</ion-header>



<ion-content>

    <ion-card style="border: solid 0px; border-radius: 30px; margin-bottom: 3px;">
        <ion-card-header>
            <img src="../../assets/imgs/ranking.png" style="height: 50%; width: 50%; margin-right: 25%">
        </ion-card-header>
        <ion-card-content>
            <p style="text-align: center; margin-top: 10px;">تحسب نقاط الصيدلية من عدد تعليقاتها.</p>
        </ion-card-content>
    </ion-card>

    <div *ngIf="!isUser" id="myQues" style="background-color: white;"> <!-- ===== My Questions Title ===== -->
        <h1 id="myQuesTitle" style="color: #339999; font-weight: bold;">نقاطي: {{myPoints}}</h1>
    </div>

    <div id="myQues"> <!-- ===== My Questions Title ===== -->
        <h1 id="myQuesTitle">الصيدليات</h1>
    </div>

    <ion-list>
        <ion-item (click)="openProfile(item[0])" id="ionItem" *ngFor="let item of searchList"> <!-- ===== ion-item ===== -->
            <ion-avatar style="width: 50px; position: absolute; right: 8px; top: 10px;">
                <img *ngIf="item[2] == 1" src="../../assets/imgs/rank1.png" style="width: 50px; height: 50px;"> <!-- ===== The status Picture of post ===== -->
                <img *ngIf="item[2] == 2" src="../../assets/imgs/rank2.png" style="width: 50px; height: 50px;"> <!-- ===== The status Picture of post ===== -->
                <img *ngIf="item[2] == 3" src="../../assets/imgs/rank3.png" style="width: 50px; height: 50px;"> <!-- ===== The status Picture of post ===== -->
                <img *ngIf="item[2] > 3" src="../../assets/imgs/pharmacy1.png" style="width: 50px; height: 50px;"> <!-- ===== The status Picture of post ===== -->
            </ion-avatar>
            <div class="p-textDiv"> <!-- ===== The div which contain all the texts ===== -->
              <div> <!-- ===== the div which contain all the texts ===== -->
                <h2 class="postHeaderTitle">{{item[1]['name']}}</h2> <!-- ===== The status of post ===== -->
                <p class="postDate">#{{item[2]}}</p> <!-- ===== The date of post ===== -->
              </div>
              <h2 class="postTitle">{{item[1]['province']}} / {{item[1]['zone']}}</h2> <!-- ===== The title of post ===== -->
            </div>
            <div class="previewQuesBtn">
              <div>
                <h2>النقاط</h2>
                <h2><span>{{item[1]['pharmacyReplyNo']}}</span></h2>
              </div>
            </div>
          </ion-item>
        </ion-list>
    </ion-content>