page-add-post {

    #headerDiv{
        height: 19%;
        background-color: #339999;
    }

    #headerDiv h1{
        height: 100%;
        line-height: 120px;
        font-size: 36px;
        font-weight: bold;
        color: white;
    }

    .medicineInput{
        height: 20vh; width: 100%;
        border: solid 1px #BBBBBB; border-radius: 6px;
        font-size: 24px;
        text-align: center;
    }

    #cameraContainer{
        padding: 10px 0px;
        background-color: #FAFAFA;
        border-top: solid 0.1px #BBBBBB; border-bottom: solid 0.1px #BBBBBB;
    }

    #cameraContainer_add ion-icon{
        font-size: 4.2rem;
    }

    #cameraContainer{
        padding: 10px 0px;
        border-top: solid 0.1px #BBBBBB;
    }

    #cameraContainer h2{
        margin-top: 0.8rem;
    }

    #cameraContainer img{
        height: 220px;
        // border: solid 1px #BBBBBB; border-radius: 15px;
    }

    // =============== Make style  to the default button  ===============
    .button-md,
    .button-ios {
        height: 4.6rem;
        font-size: 2.6rem;
        font-weight: bold;
        margin-bottom: 11px;
    }

    button ion-icon{
        font-size: 3.2rem;
    }


}
