nav-bar {

.navIonButton{position: absolute; color: white; font-size: 2.2rem; background-color: transparent; height: 20px; box-shadow: 0 0px 0px 0 rgba(255, 255, 255, 0.14);}
.ionNavBar{height: 40px; background-color: #339999; color: white;}
.navBarTitle{line-height: 40px; text-align: center; font-size: 2rem; padding: 0px; margin: 0px;}
.navBarLine{height: 1px; background-color: #f2f2f2;}

}
