<!-- Generated template for the NavBarComponent component -->
<!-- =============================== Nav Bar Header ============================== -->
<div>
<div class="ionNavBar">
  <h2 class="navBarTitle">{{navTitle}}</h2>
</div>
<ion-icon menuToggle class="navIonButton" style="top: 10px; right: 15px; " name='menu'></ion-icon>
<!-- <ion-icon (click)="goNotifi()" class="navIonButton" style="top: 10px; left: 15px; " name='notifications'></ion-icon> -->
<hr class="navBarLine">
</div>
  <!-- =============================== Nav Bar Header ============================== -->
