    <!-- =============================== Nav Bar Header ============================== -->
    <ion-header>
      <div style="height: 40px; background-color: #50A7A7;">
          <ion-title style="line-height: 40px; text-align: center;color: white;">اكمال عملية التسجيل</ion-title>
      </div>
      <ion-icon (click)="goBack()"style="position: absolute; color: white; font-size: 2.2rem; background-color: transparent; height: 34px; box-shadow: 0 0px 0px 0 rgba(255, 255, 255, 0.14); top: 10px; left: 15px; " name='arrow-down'></ion-icon>
      <hr style="height: 1px; background-color: #f2f2f2;">
    </ion-header>
        <!-- =============================== Nav Bar Header ============================== -->
<ion-content padding>       


    <div id="segmentCont">
        <h1 style="width: 100%; text-align: center; font-size: 16pt;">الرجاء تحديد نوع المستخدم:</h1>
        <button ion-button block id="user" class="segmentBtn activeSegment" (click)="segment('user')" style="right: 0px;">مستخدم</button>
        <button ion-button block id="pharmacy" class="segmentBtn " (click)="segment('pharmacy')" style="left: 0px;">صيدلية</button>
    </div>


    <form [formGroup]="myForm">

  <ion-list style="color: #339999;">
        <ion-item>
            <ion-label style="color: #339999;" >المحافظة  :</ion-label>
            <ion-select [(ngModel)]="userInfoData.province" [formControl]="myForm.controls['province']" >
                <ion-option value="القادسية ">القادسية</ion-option>
                
            </ion-select>
        </ion-item>
    </ion-list>
    
    <ion-list>
        <ion-item >
            <ion-label style="color: #339999;"> المنطقة :</ion-label>
            <ion-select [(ngModel)]="userInfoData.zone" [formControl]="myForm.controls['zone']" >
                <ion-option value="الحضارة">الحضارة</ion-option>
        <ion-option value="الفرات">الفرات</ion-option>
        <ion-option value="الحكيم">الحكيم</ion-option>
        <ion-option value="الاساتذة">الاساتذة</ion-option>
        <ion-option value="الجامعة">الجامعة</ion-option>
        <ion-option value="التراث">التراث</ion-option>
        <ion-option value="المعلمين">المعلمين</ion-option>
        <ion-option value="الحي الصناعي">الحي الصناعي</ion-option>
        <ion-option value="الجزائر">الجزائر</ion-option>
        <ion-option value="حي رمضان">رمضان</ion-option>
        <ion-option value="الخضراء">الخضراء</ion-option>
        <ion-option value="الكرار">الكرار</ion-option>
         <ion-option value="التقية">التقية</ion-option>
         <ion-option value="صوب الشامية">صوب الشامية</ion-option>
         <ion-option value="العروبة">العروبة الاولى</ion-option>
         <ion-option value="العروبة الثانية">العروبة الثانية</ion-option>
         <ion-option value="العروبة الثالثة">العروبةالثالثة</ion-option>
         <ion-option value="الضباط">الضباط</ion-option>
         <ion-option value="الصدر الاولى">الصدر الاولى</ion-option>
         <ion-option value="الصدر الثانية">الصدر الثانية</ion-option>
         <ion-option value="الصدر الثالثة">الصدر الثالثة</ion-option>
         <ion-option value="السلام">السلام</ion-option>
         <ion-option value="العدالة">العدالة</ion-option>
         <ion-option value="الجمعية">الجمعية</ion-option>
         <ion-option value="المتقاعدين">المتقاعدين</ion-option>
         <ion-option value="السراي">السراي</ion-option>
         <ion-option value="الجديدة">الجديدة</ion-option>
         <ion-option value="حي الموظفين">الموظفين</ion-option>
         <ion-option value="الوحدة">الوحدة</ion-option>
         <ion-option value="حي العذارية"> العذارية</ion-option>
         <ion-option value="الكرامة">الكرامة</ion-option>
         <ion-option value="الاسكان">الاسكان</ion-option>
         <ion-option value="النسيج">النسيج</ion-option>
         <ion-option value="حي الغدير">الغدير</ion-option>
         <ion-option value="الصادق الاول">الصادق الاول</ion-option>
         <ion-option value="الصادق الثاني">الصادق الثاني</ion-option>
         <ion-option value="الفاضلية">الفاضلية</ion-option>
         <ion-option value="التضامن">التضامن</ion-option>
         <ion-option value="النهضة">النهضة</ion-option>
         <ion-option value="حي الزهراء">الزهراء</ion-option>
         <ion-option value="حي الثقلين">الثقلين</ion-option>
         <ion-option value="حي الوفاء">الوفاء</ion-option>
         <ion-option value="حي الحكيم">الحكيم</ion-option>
        <ion-option value="الجنوب">الجنوب</ion-option>
        <ion-option value="الشرطة">الشرطة</ion-option>
        <ion-option value="العراق">العراق</ion-option>
        <ion-option value="الانصار">الانصار</ion-option>
        <ion-option value="الامير">الامير</ion-option>
        <ion-option value="الزعيم">الزعيم</ion-option>
        <ion-option value="العصري">العصري</ion-option>
        <ion-option value="الابرار">الابرار</ion-option>
        <ion-option value="الفجر الجديد">الفجر الجديد</ion-option>
        <ion-option value="الاستقامة">الاستقامة</ion-option>
        <ion-option value="الجمهوري الغربي">الجمهوري الغربي</ion-option>
        <ion-option value="الجمهوري الشرقي">الجمهوري الشرقي</ion-option>
        <ion-option value="الزراعيين">الزراعيين</ion-option>
        <ion-option value="الحوراء">الحوراء</ion-option>
        <ion-option value="الثقافي">الثقافي</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    </form>
    <br>
    <form [formGroup]>
    <div id="camera" class="hiddenCam">
        <h1 style="width: 100%; text-align: center; font-size: 16pt; margin-bottom: 10px;">التقاط صورة لترخيص وزارة الصحة </h1>
        <ion-icon id="theIcon" (click)='openCamera()' ios="ios-camera" md="md-camera" ></ion-icon>
        <ion-label style="font-size: 12pt; font-weight: bold; color:rgba(202,11, 11)">سيتم اغلاق حسابك اذا كان الترخيص مزيف</ion-label>
        <img src="{{currentImg}}" >
    </div>
    </form>
    <form [formGroup]="myForm">
  <button *ngIf="isFacebook" ion-button block (click)="facebookRegister()" [disabled]="!myForm.valid" ><ion-icon name="ios-create-outline"></ion-icon>&nbsp; &nbsp; انشاء حساب</button>
  <button *ngIf="!isFacebook" ion-button block (click)="googleRegister()" [disabled]="!myForm.valid" ><ion-icon name="ios-create-outline"></ion-icon>&nbsp; &nbsp; انشاء حساب</button>
    </form>
</ion-content> 