page-hybrid-login {
    *{
        font-size: 16pt;
    }
    h1{
        text-align: center;
        font-weight: bold;
        color:#339999;
       }
    #theIcon{
        font-size: 6.2rem;
    }

    .segmentBtn{
        margin-top: 50px;

        position: absolute;
        top: 0px;
        width: 50%; height: 40px;
        color: #969696;
        background-color: #e9e9e9;
    }

    .activeSegment{
        color: white;
        background-color: #339999;
    }

    #segmentCont{
        width: 100%; height: 90px;
    }

    .hiddenCam{
        display: none;
    }

    .visableCam{
        display: block;
        text-align: center;
    }
}
